h1{
    text-align: center;
}

p{
    font-size: 20px;
}

.form-wrap{
    display:flex;
    padding-top: 5%;
    margin-left: 10%;
}

select{
    /* width: 200px; */
    height: 43px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    width: 100%;
    margin-right: 5px;
    font-size: 20px;
}

#image{
    width: 200%;
}
#method{
    width: 200%;
}
#notes{
    width: 200%;
}

input {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    width: 52%;
    height: 20px;
    min-width: 300px;
    margin-right: 5px;
  }

.plus td{
    width: 20%;
    height: 20px;
}

label{
    font-weight: bold;
    font-size: 20px;
}

.ingredients{
    font-size: 25px;
}

.ingredient-form{
    padding-right: 80px;
}

td{
    padding-right:50px;
    min-width: 80px;
}


   










