.add-recipe-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.ingredient-text{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.add-recipe-form-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    margin-left:  2rem;
    margin-right: 2rem;
}

.select-option-recipe {
    height: 43px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    width: 300px;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-recipe-imageurl{
    width: 31rem;
    border-radius: 20px;
    border: 1px solid grey;
    height: 2.6rem;
}

#method{
    width: 30rem;
    height: 20rem;
}

#notes{
    width: 30rem;
    height: 10rem;
}

.input-add-recipe {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    width: 280px;
    height: 20px;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
textarea{
    border-radius: 20px;
    border: 1px solid grey;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;    
}

.plus input{
    border-radius: 20px;
    background-color: black;
    height: 30px;
    width: 70px;
    color: white;
    padding: 0px;
    text-align: center;
}

.save input{
    border-radius: 20px;
    background-color: black;
    height: 30px;
    width: 70px;
    color: white;
    padding: 0px;
    text-align: center;
}

label{
    font-weight: bold;
    font-size: 20px;
}

.ingredients{
    font-size: 25px;
}

.ingredient-form{
    padding-right: 80px;
}
/* 
.ingredient-input{
    background-color: white;  
} */

td{
    padding-right:50px;
    min-width: 80px;
}


   










