.nav-menu {
    background-color: aqua;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top:0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}

.nav-text{
    background-color: red;
    margin-bottom: 10px;
    list-style: none;
}